<dl class="dl-horizontal">
    <dt>General</dt>
    <dd>Esta página gestiona qué plugins (también llamados <i>addons</i> o <i>complementos</i>) están instalados.</dd>
    <dt>Gestión de los repositorios</dt>
    <dd>Si su servidor web tiene los permisos de escritura necesarios, verá un botón etiquetado como <b>Gestión de repositorios</b>, 
		que abre un panel de control para administrar qué <i>repositorios</i> de plugins están instalados. Estos repositorios están 
		almacenados en <span style="font-family: monospace;">extend/addon/[nombre del repositorio]/</span>. El repositorio de plugins oficial de Hubzilla 
		se puede añadir escribiendo la URL del repositorio
		<span style="font-family: monospace;">https://framagit.org/hubzilla/addons.git</span>
		y eligiendo un nombre para el repositorio como <b>oficial</b>. Debería ver este repositorio en una lista parecida 
		a esta:
		<br>
		<img class="img-responsive" src="doc/context/es-es/admin/plugins/assets/addon_repo_gui_1.png"></dd>
</dl>