<dl class="dl-horizontal">
    <dt>General</dt>
    <dd>This page manages which plugins (also known as <i>addons</i>) are installed.</dd>
    <dt>Manage Repos</dt>
    <dd>If your webserver has the necessary write permissions, you will see a button labeled <b>Manage Repos</b>, 
		which opens a control panel for managing what plugin <i>repositories</i> are installed. These repos are 
		stored in <span style="font-family: monospace;">extend/addon/[repo name]/</span>. The official Hubzilla 
		plugin repo can be added by entering the repo URL
		<span style="font-family: monospace;">https://framagit.org/hubzilla/addons.git</span>
		and choosing a name for the repo such as <b>official</b>. You should see this repo in the list similar 
		to the following:
		<br>
		<img class="img-responsive" src="doc/context/en/admin/plugins/assets/addon_repo_gui_1.png"></dd>
</dl>